:root {
  --background-1: #122549;
  --background-2: #142850;
  --background-3: #1A3467;
  --border-color: #005485;
  --foreground-1: #8FD9E9;
  --foreground-2: #6CBACF;

  --sn-stylekit-neutral-color: var(--foreground-2);
  --sn-stylekit-neutral-contrast-color: #000000;

  --sn-stylekit-info-color: #00A8D0;
  --sn-stylekit-info-color-darkened: #007A99;
  --sn-stylekit-info-contrast-color: #000000;
  --sn-stylekit-info-backdrop-color: var(--background-3);

  --sn-stylekit-success-color: #048FFF;
  --sn-stylekit-success-contrast-color: #000000;

  --sn-stylekit-warning-color: #F39C12;
  --sn-stylekit-warning-contrast-color: #000000;

  --sn-stylekit-danger-color: #FF004E;
  --sn-stylekit-danger-contrast-color: #000000;
  --sn-stylekit-danger-light-color: #FF4D79;

  --sn-stylekit-shadow-color: var(--border-color);
  --sn-stylekit-background-color: var(--background-1);

  --sn-stylekit-border-color: var(--border-color);
  --sn-stylekit-foreground-color: var(--foreground-1);

  --sn-stylekit-contrast-background-color: var(--background-3);
  --sn-stylekit-contrast-border-color: var(--border-color);
  --sn-stylekit-contrast-foreground-color: var(--foreground-1);

  --sn-stylekit-secondary-background-color: var(--background-2);
  --sn-stylekit-secondary-foreground-color: var(--foreground-1);
  --sn-stylekit-secondary-border-color: var(--border-color);

  --sn-stylekit-secondary-contrast-border-color: var(--border-color);
  --sn-stylekit-secondary-contrast-background-color: var(--background-2);
  --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-1);

  --sn-stylekit-editor-background-color: var(--background-1);
  --sn-stylekit-editor-foreground-color: var(--foreground-1);

  --sn-stylekit-paragraph-text-color: var(--foreground-1);

  --sn-stylekit-input-placeholder-color: var(--foreground-2);
  --sn-stylekit-input-border-color: var(--border-color);

  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);
  --sn-stylekit-scrollbar-track-border-color: var(--background-1);

  --sn-stylekit-theme-type: dark;
  --sn-stylekit-theme-name: sn-cobalt-strike;

  --sn-stylekit-passive-color-0: var(--foreground-2);
  --sn-stylekit-passive-color-1: var(--foreground-2);
  --sn-stylekit-passive-color-2: var(--background-2);
  --sn-stylekit-passive-color-3: var(--border-color);
  --sn-stylekit-passive-color-4: var(--background-2);
  --sn-stylekit-passive-color-4-opacity-variant: var(--border-color);
  --sn-stylekit-passive-color-5: var(--background-3);
  --sn-stylekit-passive-color-6: var(--background-1);
  --sn-stylekit-passive-color-super-light: var(--background-3);

  --sn-stylekit-accessory-tint-color-1: #086DD6;
  --sn-stylekit-accessory-tint-color-2: #EA6595;
  --sn-stylekit-accessory-tint-color-3: #EBAD00;
  --sn-stylekit-accessory-tint-color-4: #7049CF;
  --sn-stylekit-accessory-tint-color-5: #1AA772;
  --sn-stylekit-accessory-tint-color-6: #F28C52;

  --navigation-item-selected-background-color: var(--sn-stylekit-background-color);
}
